@inherits LayoutComponentBase

@inject ILocalStorageService LocalStorage
@inject AppState AppState;

<PageTitle>Web Receipt</PageTitle>
<div class="page">
    @if (GlobalClass.IsLogin)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
            <div class="top-row px-4">
                <MudText Class="title fw-bolder" Typo="Typo.h5">@GlobalClass.Title</MudText>
                <MudSpacer/>
                <a class="mr-4" href="https://docs.microsoft.com/aspnet/" target="_blank">Welcome, @GlobalClass.UserAccount.EmployeeName</a>
                <MudButton Size="Size.Small" OnClick="Logout" Variant="Variant.Filled" Color="Color.Info">Logout</MudButton>
            </div>

            <article class="content px-4 h90" style="position: relative;">
                @Body
            </article>
        </main>
    }
    else
    {
        <Login />
    }
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        AppState.OnChange += UpdateState;
        ValueTask<bool> b = LocalStorage.GetItemAsync<bool>("token");
        await b;
        if (b.IsCompleted)
        {
            ValueTask<UserAccountModel> account = LocalStorage.GetItemAsync<UserAccountModel>("account");
            await account;
            if(account.IsCompleted)
            {
                GlobalClass.IsLogin = b.Result;
                GlobalClass.UserAccount = account.Result;
            }
            StateHasChanged();
        }
    }
    private void UpdateState()
    {
        InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }
    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("token");
        await LocalStorage.RemoveItemAsync("account");
        GlobalClass.IsLogin = false;
        GlobalClass.UserAccount = new();
        await AppState.NotifyStateChangedAsync();
    }
}
<style>
    .mud-toolbar-gutters
    {
        padding-left: unset !important;
        padding-inline-start: unset !important;
    }
    .mud-nav-group svg
    {
        color: white !important;
    }
</style>